.skill-all{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.skill-tab{
    width: 30%;
    display: flex;
    justify-content: center;
}
.skill-tab img{
    max-width: 100px;
}

@media screen and (min-width: 600px){
    .skill-tab img {
        max-width: 500px;
    }
}