#expo {
    height: 500px;
    background-image: url(../../assets/coffee.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
#expo p {
    width: 80%;
    text-align: center;
    font-size: 7vw;
    
}
#about {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    padding-top: 80px;
    padding-bottom: 30px;
}
#about h2 {
    color: white;
    background-color: chocolate;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    
    
}
#about p {
    width: 90%;
    text-align: center;
    padding-top: 50px;
    color: white;
    
}
#skills-section {
    
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
#skills-section h2 {
    color: white;
    background-color: chocolate;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}
#skills {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-top: 50px;
    flex-wrap: wrap;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 20px;
    color: white;
    
}

#works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 80px;
    padding-top: 80px;
}
#works-section h2 {
    color: white;
    
    background-color: chocolate;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}
#works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    
}
#contact{
    height: 160px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;
    background-color: rgb(222, 127, 59);
    
    margin-left: 10px;
    margin-right: 10px;
    
}
#contact-info {
    display: flex;
    align-items: center;
    
    width: 80%;
    gap: 20px;
    font-size: 4vw;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.github {
    width: 8vw;
}

@media screen and (min-width: 600px) {
    #expo p {
        font-size: 5vw;
        
    }
    #about {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #about p{
        font-size: 20px;
        padding-top: 80px;
    }
    #skills {
        padding-top: 80px;
    }
    .skill {
        width: 25%;
    }
    .skill img {
        width: 65%;

    }
    #works-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #works-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0px;
    }
    #contact {
        flex-direction: row;
        align-items: center;
        padding-left: 30px;
        gap: 20px;
    }
    #contact h2 {
        font-size: 40px;
    }
    #contact-info {
        
        font-size: 2.5vw;
    }
    .github {
        max-width:75px ;
    }
    h2{
        font-size: 35px;
    }
    
    
}

@media screen and (min-width: 900px) {
    #about p{
        font-size: 2vw;
        
    }

}
