header {
    
    color: chocolate;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

#nav-desktop {
    display: flex;
    justify-content: space-between;
    display: none;
}
#navbar {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-top: 5px;
    
    
}

@media screen and (min-width: 600px) {
    #nav-desktop {
        display: flex;
        
    }
    #nav-mobile {
        display: none;
    }
    
}